@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600&family=Manrope:wght@300;400;500;600;700;800&family=Space+Grotesk:wght@400;500;600;700&display=swap");

html,
body,
#root {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  font-synthesis-weight: none;
}
